<div class="sign-in">
    <div class="container">
        <div class="row gx-0 offset-1">
            <div class="col">
                <div class="info">
                    <h1 class="title">One account for all services</h1>
                    <p class="desc">
                        Hi there! Sign up an account and enjoy your shopping
                        experience on
                    </p>
                    <button class="btn btn-primary">CREATE NEW ACCOUNT</button>
                </div>
            </div>
            <div class="col">
                <div class="form-wrapper">
                    <form
                        action=""
                        class="form-content"
                        spellcheck="false"
                        autocomplete="off"
                        novalidate
                    >
                        <h2 class="form-title">Sign in</h2>

                        <div class="form-group">
                            <label for="email">
                                <i class="fa-regular fa-envelope"></i
                            ></label>
                            <input
                                type="email"
                                id="email"
                                name="email"
                                required
                                placeholder="Email Address"
                            />
                        </div>
                        <div class="form-group">
                            <label for="password">
                                <i class="fa-solid fa-lock"></i
                            ></label>
                            <input
                                type="password"
                                id="password"
                                name="password"
                                required
                                placeholder="Enter your password"
                            />
                            <a class="arrow-btn" href="">
                                <i class="fa-solid fa-arrow-right"></i>
                            </a>
                        </div>
                        <p class="forgot-password">
                            <a href="">Forgot your password?</a>
                        </p>
                    </form>
                    <p class="form-desc">
                        Sign in with existing login from a social network
                        account
                    </p>
                    <div class="social-login">
                        <a href=""><i class="fa-brands fa-google"></i></a>
                        <a href=""><i class="fa-brands fa-github"></i></a>
                        <a href=""><i class="fa-brands fa-apple"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
